table.table td .add2 {
    display: none;
}

table.table td a.add2 {
    color: #27C46B;
}

table.table td a.edit2 {
    color: #FFC107;
}

table.table td a.delete2 {
    color: #E34724;
}

table.table td .add1 {
    display: none;
}

table.table td a.add1 {
    color: #27C46B;
}

table.table td a.edit1 {
    color: #FFC107;
}

table.table td a.delete1 {
    color: #E34724;
}

.hr {
    border: 3px solid #FF9900;
    width: 80%;
    margin-Left: 0;
    margin-Top: 20px;
    margin-Bottom: 20px;
}

.btnuser {
    margin-Right: 15px;
    width: 12%;
}

.btnuserupdate {
    margin-Right: 15px;
}

.avarta {
    width: 190px;
    height: 245px;
    border: 2px solid #ddd;
    background-Color: #fff;
    margin: 20px 20px 10px 10px;
}

div.upload {
    position: relative;
    overflow: hidden;
}

input.upload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

input#file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

input#file1 {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

span.required {
    color: #E34724;
}

.display {
    display: none;
}