.one-edge-shadow {
    box-shadow: 0 8px 6px -6px black;
    width: 50%;
    left: 25%;
    background-color: #fff;
    position: absolute;
    top: 50px;
    padding: 5px 20px 20px 20px
}

.auth-text {
    font-family: Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

input.auth-input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #d1d1d1;
    padding: 5px 12px;
    margin-bottom: 28px;
}

button.auth-button {
    font-family: Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    border: none;
    padding: 8px 12px;
    background-color: #605ca8;
    color: #fff;
}

button.auth-button:hover {
    font-family: Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    border: none;
    padding: 8px 12px;
    background-color: #4a4782;
    color: #fff;
}