.dx-login-page {
    display: flex;
    margin-top: 0;
    min-height: 100vh;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center;
}

.dx-logo-lg {
    width: 12vw;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

.dx-login-box {
    width: 24vw;
    margin: 0vh 38vw 20vh 38vw;
    padding: 20px 20px 20px 20px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dx-login-line {
    font-size: 16px;
}

.dx-login-input {
    margin: 0px 0px 20px 0px;
    width: 100%;
    padding: 2px 12px 4px 12px;
    border: none;
    border-bottom: 0.5px solid #d1d1d1;
    background-color: #ffffff00;
}

.dx-login-submit {
    background-color: #131042;
    color: #fff;
    margin-top: 10px;
    padding: 5px 12px;
    height: 42px;
    width: 100%;
    border: none;
}

.dx-login-text {
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .dx-logo-lg {
        width: 40vw;
        margin-top: 10px;
        height: auto;
    }
    .dx-login-page {
        margin-top: 0;
        min-height: 100vh;
        background-color: #f1f1f1;
        text-align: center;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .dx-login-box {
        width: 60vw;
        margin: 0vh 20vw 0vh 20vw;
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
        min-height: 300px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .dx-login-line {
        font-size: 16px;
    }

    .dx-login-input {
        margin: 0px 0px 12px 0px;
        width: 100%;
        padding: 5px 12px;
        height: 48px;
        border-radius: 5px;
        border: 0.5px solid #d1d1d1;
        background-color: #f1f1f1;
    }

    .dx-login-submit {
        background-color: #131042;
        color: #fff;
        margin-top: 10px;
        padding: 5px 12px;
        height: 48px;
        width: 100%;
        border: none;
        border-radius: 5px;
    }

    .dx-login-text {
        padding: 5px;
        font-weight: 600;
        font-size: 16px;
    }
}

@media (max-width: 568px) {
    .dx-logo-lg {
        width: 40vw;
        margin-top: 10px;
        height: auto;
    }
    .dx-login-page {
        margin-top: 0;
        min-height: 100vh;
        background-color: #f1f1f1;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .dx-login-box {
        width: 90vw;
        margin: 0vh 5vw 0vh 5vw;
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
        min-height: 300px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .dx-login-line {
        font-size: 16px;
    }

    .dx-login-input {
        margin: 0px 0px 12px 0px;
        width: 100%;
        padding: 5px 12px;
        height: 48px;
        border-radius: 5px;
        border: 0.5px solid #d1d1d1;
        background-color: #f1f1f1;
    }

    .dx-login-submit {
        background-color: #131042;
        color: #fff;
        margin-top: 10px;
        padding: 5px 12px;
        height: 48px;
        width: 100%;
        border: none;
        border-radius: 5px;
    }

    .dx-login-text {
        padding: 5px;
        font-weight: 600;
        font-size: 16px;
    }
}

.dx-login-form {
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    text-align: left;
}
