.keeping td {
    height: 37px;
    max-height: 37px !important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 3;
}

.timekeeping td {
    height: 37px;
}

.table {
    table-layout: fixed !important;
}

table.timekeeping td i {
    font-size: 12px !important;
}

.timekeeping th,
td {
    width: 45px;
    border-collapse: collapse !important;
}

.tooltip-timesheet {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip-timesheet .tooltiptext {
    visibility: hidden;
    min-width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-timesheet:hover .tooltiptext {
    visibility: visible;
    background-color: #408e4d;
}

.tooltip-timesheet .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #408e4d transparent transparent transparent;
}