/*
Chuẩn tắc css cho các form control:
1. Tính từ thẻ gốc class là qlcv
2. Tiép đến là thẻ form-inline, thẻ form-group. Sau đó đặt các control trong div form-group (Cũng có thể đặt trực tiếp trong form-inline)
3. control có class là form-control
Ví dụ:
<div className="box">
    <div className="box-body qlcv">
        <div className="form-inline">
            <div className = "form-group">
                <label>Abc def</label>
                <input className="form-control" type="text"/>
            </div>
        </div>
    </div>
</div>
*/

div.qlcv div.selectmulti,
div.qlcv > .form-inline > button, div.qlcv > .form-inline > .form-group > button,
div.qlcv > .form-inline >.form-control, div.qlcv > .form-inline > .form-group >.form-control,
div.qlcv > .form-inline > label, div.qlcv .form-inline > .form-group> label,
div.qlcv > .form-inline > div.select2, div.qlcv > .form-inline > .form-group > div.select2 {
    margin: 5px 0 5px 0;
}


@media (min-width: 768px){
    div.qlcv > .form-inline > div.selectmulti, div.qlcv > .form-inline > .form-group > div.selectmulti,
    div.qlcv > .form-inline > button, div.qlcv > .form-inline > .form-group > button,
    div.qlcv > .form-inline >.form-control, div.qlcv > .form-inline > .form-group > .form-control,
    div.qlcv > .form-inline > label, div.qlcv .form-inline > .form-group > label,
    div.qlcv > .form-inline > .input-group, div.qlcv .form-inline > .form-group > .input-group,
    div.qlcv > .form-inline > div.select2, div.qlcv > .form-inline > .form-group > div.select2 {
        margin: 5px;
    }
    div.qlcv > .form-inline > div.selectmulti, div.qlcv > .form-inline > .form-group > div.selectmulti,
    div.qlcv > .form-inline > .form-control, div.qlcv > .form-inline > .form-group > .form-control,
    div.qlcv > .form-inline > .input-group, div.qlcv .form-inline > .form-group > .input-group,
    div.qlcv > .form-inline > div.select2, div.qlcv > .form-inline > .form-group > div.select2 {
        width: 200px;
    }
    div.qlcv > .form-inline > label, div.qlcv .form-inline > .form-group > label{
        width: 100px;
        text-align: right;
    }
}



/* Css cho Link */
a {
    color: #385898;
}
a:hover, a:active, a:focus {
    color: #6a8dd1;
}




/* CSS cho C3 Chart */
.c3-tooltip-container {
    max-height: none !important;
    width: 50%;
}

.c3-tooltip {
    box-shadow: none;
    width: 100%;
}

text.c3-axis-x-label, text.c3-axis-y-label {
    font-weight: bold;
    font-size: 120%
}


/*
CSS cho bảng dữ liệu
*/
.table-hover tbody tr:hover{ /* Hight light dòng con trỏ đang trỏ tới */
    background-color: #d7d6ee;
}
table thead tr th.resizing { /* Màu header cột đang được Resize */
    background-color: #d7d6ee;
}
table thead tr th:not(:last-child) { /* Hiện con trỏ khi trỏ vào header bảng */
    cursor: ew-resize;
}
td { /* Cho phép bảng hoạt động tốt với kích thước nhỏ, không bị vỡ chữ */
    word-wrap: break-word;
    white-space: normal;
}
.table>thead>tr>th { /* Hiện thông báo không có dữ liệu */
    vertical-align: top;
}





/* Kích thước icon mặc định */
.material-icons{
    font-size: 19px;
}






/*
CSS cho cột cuối trong bảng (có các hành động edit, delete, save, ...) và các icon trong đó
*/
table.table td:last-child, table.table th:last-child { /* Căn giữa cho cột cuối */
    text-align: center;
}
table.table td a {
    cursor: pointer;
    margin-right: 5px;
}
table.table td a.add {
    color: #27C46B;
}
table.table td a.copy {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.star {
    color: #FFC107;
}
table.table td a.timer {
    color: black;
}
table.table td a.default {
    color: black;
}
table.table td a.all_inbox {
    color: darkred;
}
table.table td a.add_circle {
    color: green;
}
table.table td a.save_result {
    color: green;
}
table.table td a.timer:hover {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td a.approve {
    color: deepskyblue;
}
table.table td a.post_add {
    color: green;
}





/*
* CSS cho thông báo với bảng (đang load dữ liệu, không có dữ liệu, ...)
*/
div.table-info-panel {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
}





/* Fieldset */
fieldset.scheduler-border {
    border: 1px groove #000 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;

    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.55);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.55);
}
legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: #fff;
}





/* Text bị ẩn khi quá độ dài cho phép */
.threedots {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active-notification-button {
    border-left: 3px solid #3C8DBC;
}






/** Description box **/
.box.box-solid.description{
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    height: 100%;
    margin: 0;
    border: 1px solid #eae9f5;
}
.box.box-solid.description > .box-header {
    font-size: 1.2em;
    font-weight: 900;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #eae9f5;
}
.box.box-solid.description > .box-body{
    padding: 10px 0 0 15px;
}
dt{
    color: #605ca8;
    line-height: 2.2;
}
dd{
    line-height: 2.2;
}
dd ul, dd ol{
    margin-top: 0;
    margin-bottom: 0;
}




/* Bootstrap 3 khi cần cho các phần tử trong row có height bằng nhau. Bootstrap 4 đã có luôn*/
.row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row-equal-height [class*=col-]{
    margin:0 -.3px;
}




/* Css cho input range - slider */
input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
}






.chart-display {
    overflow-x: scroll;
}




/* React-Toastify */
.Toastify__progress-bar {
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.notification-title {
    font-size: 14px;
    margin: 0px 0px 5px;
    padding: 0px;
    font-weight: bold;
}
.Toastify__toast--info .notification-title {
    color: rgb(54, 156, 199);
}
.Toastify__toast--success .notification-title {
    color: rgb(94, 164, 0);
}
.Toastify__toast--warning .notification-title {
    color: rgb(235, 173, 26);
}
.Toastify__toast--error .notification-title {
    color: rgb(236, 61, 61);
}

.Toastify__toast-container {
    width: 320px;
}
.Toastify__toast {
    padding: 5px !important;
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    font-size: 13px;
    margin: 10px 0px 0px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    transform: translate3d(0px, 0px, 0px);
    will-change: transform, opacity;
    right: 0px;
}
.Toastify__toast--info {
    background-color: rgb(232, 240, 244);
    color: rgb(65, 85, 93);
}
.Toastify__toast--success {
    background: rgb(240, 245, 234);
    color: rgb(75, 88, 58);
}
.Toastify__toast--warning {
    background-color: rgb(249, 246, 240);
    color: rgb(90, 83, 67);
}
.Toastify__toast--error {
    background-color: rgb(244, 233, 233);
    color: rgb(65, 47, 47);
}
  
.Toastify__close-button {
    font-family: Arial;
    font-size: 11px;
    position: absolute;
    top: 4px;
    right: 5px;
    line-height: 15px;
    background-color: rgb(176, 202, 146);
    color: rgb(240, 245, 234);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.Toastify__toast--info .Toastify__close-button {
    background-color: rgb(164, 190, 203);
    color: rgb(232, 240, 244);
}
.Toastify__toast--success .Toastify__close-button {
    background-color: rgb(176, 202, 146);
    color: rgb(240, 245, 234);
}
.Toastify__toast--warning .Toastify__close-button {
    background-color: rgb(225, 207, 172);
    color: rgb(249, 246, 240);
}
.Toastify__toast--error .Toastify__close-button {
    background-color: rgb(228, 190, 190);
    color: rgb(244, 233, 233);
}
 