ul.domain-tree {
    list-style-type: none;
}

li.domain-tree {
    border-left: 0.8px solid rgb(194, 194, 194);
    padding: 10px;
}

b.domain-tree-content {
    border-bottom: 0.8px dotted rgb(194, 194, 194);
    margin: 5px;
}

b.domain-tree-content:hover {
    color: red;
}