.matrix-table{
    padding-left: 10px;
    max-width: 70%;

    
}
#impact-title-matrix{
    color: red;
    font-size: 30px;
    text-align: center;
}
.title{
    background-color: #D8D8D8;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    
}
.minor{
    background-color:#2EFE2E;
    font-size: 12px;
}
.moderate{
    background-color: #D7DF01;
    font-size: 12px;
}
.major{
    background-color: orange;
    font-size: 12px;
}
.severe{
    background-color: #FF0040;
    font-size: 12px;
}
#matrix {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    width: 100%;
    table-layout:fixed;
    font-weight: bold;
  }
  
  #matrix td, #matrix th {
    border: 1px solid black ;
    text-align: center;
   
    height: 100px;
    width: 120px;
    max-width: 120px;
  }
  
  #matrix tr:nth-child(){background-color: #f2f2f2;}
  
  #matrix tr:hover {background-color: #ddd;}
  
  #matrix th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
.vertical-rl {  
    padding-top: 100px;
    padding-left: 1em;
    writing-mode: vertical-rl;
    color: red;
    font-size: 30px;
}