.padding-0px {
    padding: 0px;
}

.quote-detail-info-left {
    font-weight: 600;
    width: 35%;
}

.quote-detail-info-right {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quote-detail-info-right:hover {
    overflow: visible;
    white-space: pre-wrap;
}

.print-quote {
    position: fixed;
    right: 80px;
    bottom: 15px;
    cursor: pointer;
    z-index: 10;
}

.print-quote:hover {
    background-color: aqua;
}

.select-currency {
    position: absolute;
    top: 15px;
    right: 30px;
    min-width: 69px;
}

.button-add-quantity-for-quote {
    font-size: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.button-add-quantity-for-quote:hover {
    border-color: rgb(255, 106, 0);
}

.input-add-quantity-for-quote {
    width: 55px;
    height: 32px;
    text-align: center;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

/* APPLY DISCOUNT FOR GOOD */
.apply-discount-for-good-element {
    position: relative;
    display: flex;
    width: 100%;
}

.apply-discounts-for-good-tag {
    border-color: rgb(0, 191, 165);
    color: rgb(0, 191, 165);
    display: flex;
    align-items: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: dotted;
    border-right-style: dotted;
    border-width: 0.0625rem;
    margin-left: 0.5rem;
    padding: 2px 9px;
    font-size: 12px;
}

.apply-discount-for-good-element > a {
    position: absolute;
    right: 20px;
}

/* SUBMIT GOOD BUTTON */

.quote-add-good-button {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    border-top: 0.0625rem dashed rgba(0, 0, 0, 0.09);
}

.quote-add-good-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
    border: none;
    background-color: #1a9cb7;
    color: #fff;
    width: 200px;
    height: 40px;
    outline: none;
}

.quote-add-good-button > button:hover {
    background-color: #21b7d1;
}

.quote-save-edit-good-button {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 0.0625rem dashed rgba(0, 0, 0, 0.09);
}

.quote-save-edit-good-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
    border: none;
    background-color: #1a9cb7;
    color: #fff;
    width: 100px;
    height: 40px;
    outline: none;
}

.quote-save-edit-good-button > button:hover {
    background-color: #21b7d1;
}

.quote-cancel-edit-good-button {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 0.0625rem dashed rgba(0, 0, 0, 0.09);
}

.quote-cancel-edit-good-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
    border: none;
    background-color: #ff1515;
    color: #fff;
    width: 150px;
    height: 40px;
    outline: none;
}

.quote-cancel-edit-good-button > button:hover {
    background-color: #fd6464;
}

/* PAYMENT QUOTE*/

.quote-address {
    background: white !important;
    padding: 0px 0px 30px 0px !important;
    margin-bottom: 10px !important;
}

.shopping-border-delivery {
    height: 0.1875rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 7.25rem 0.1875rem;
    background-image: repeating-linear-gradient(
        45deg,
        #6fa6d6,
        #6fa6d6 33px,
        transparent 0,
        transparent 41px,
        #f18d9b 0,
        #f18d9b 74px,
        transparent 0,
        transparent 82px
    );
}

.shopping-address-title {
    color: #ee4d2d;
    text-transform: capitalize;
    font-size: 16px;
    margin: 15px 0px;
    padding: 0px 15px;
}

.shopping-address-info {
    display: flex;
    padding: 0px 20px;
    font-size: 15px;
}

.shopping-address-represent {
    padding: 20px 20px;
    font-style: italic;
}

.shopping-products {
    background: white !important;
    padding: 0px 20px 20px 20px !important;
    margin-bottom: 10px !important;
}

.shopping-products-title {
    width: 100%;
    padding: 20px 0px;
    font-size: 16px;
    color: #ee4d2d;
}

.shopping-quote-info {
    background: white !important;
    padding: 0px 20px 20px 20px !important;
    margin-bottom: 10px !important;
}

.shopping-quote-info-title {
    width: 100%;
    padding: 20px 0px;
    font-size: 16px;
    color: #ee4d2d;
}

.shopping-quote-info-element {
    display: flex;
    padding: 0px 0px 10px 0px;
    font-size: 15px;
    align-items: flex-end;
}

.shopping-shipping {
    background: white !important;
    padding: 0px 20px 20px 20px !important;
    margin-bottom: 10px !important;
}

.shopping-shipping-title {
    width: 100%;
    padding: 20px 0px;
    font-size: 16px;
    color: #ee4d2d;
}

.shopping-shipping-fee {
    background-color: #fafdff;
    border: 0.0625rem dashed rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    width: 40%;
    height: 69px;
}

.shopping-shipping-fee > div {
    font-weight: 600;
    width: 30%;
    padding-left: 20px;
    line-height: 0px;
}

.shopping-shipping-fee > input {
    height: 34px;
    border: solid 0.3px grey;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
    background-color: #fff;
    width: 70%;
}

.shopping-shipping-time {
    background-color: #fafdff;
    border: 0.0625rem dashed rgba(0, 0, 0, 0.09);
    border-left: 0px;
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 69px;
}

.shopping-shipping-time-title {
    font-weight: 600;
    width: 35%;
    line-height: 0px;
}

#date_picker_create_quote_delivery-time {
    width: 65%;
    margin-left: 20px;
    margin-right: 20px;
}

.shoppe-shipping-content {
    display: flex;
}

.shopping-discount {
    background: white !important;
    margin-bottom: 10px !important;
}

.shopping-discount-title {
    width: 100%;
    padding: 20px 10px;
    font-size: 16px;
    color: #ee4d2d;
}

.shopping-apply-discounts {
    width: 100%;
    padding: 15px 20px;
    border-top: solid 0.3px #c5c5c5;
    display: flex;
    position: relative;
}

.shopping-apply-discounts > a {
    position: absolute;
    right: 20px;
}

.shopping-apply-discounts-tag {
    border-color: rgb(0, 191, 165);
    color: rgb(0, 191, 165);
    display: flex;
    align-items: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: dotted;
    border-right-style: dotted;
    border-width: 0.0625rem;
    margin-left: 0.5rem;
    padding: 2px 9px;
    font-size: 12px;
}

.shopping-apply-loyalty-coin {
    width: 100%;
    padding: 15px 20px 30px 15px;
    border-top: solid 0.3px #c5c5c5;
    position: relative;
    display: flex;
}

.shopping-apply-loyalty-coin-tag {
    border-color: rgb(0, 191, 165);
    color: rgb(0, 191, 165);
    display: flex;
    align-items: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: dotted;
    border-right-style: dotted;
    border-width: 0.0625rem;
    margin-left: 0.5rem;
    padding: 2px 9px;
    font-size: 12px;
}

.shopping-apply-loyalty-coin-checkbox {
    display: flex;
    position: absolute;
    right: 10px;
}

.shopping-bonus-good {
    background: white !important;
    margin-bottom: 10px !important;
    padding: 0px 20px 35px 20px !important;
}

.shopping-bonus-good-title {
    width: 100%;
    padding: 20px 0px;
    font-size: 16px;
    color: #ee4d2d;
    border-bottom: solid 0.3px #c5c5c5;
}

.shopping-bonus-good-element {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.shopping-bonus-good-element-info {
    border-color: rgb(239, 191, 191);
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    padding: 4px 10px;
    font-size: 13px;
}

.shopping-bonus-good-element-quantity {
    border-color: rgb(239, 191, 191);
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    padding: 4px 10px;
    font-size: 13px;
}

.shopping-bonus-good-element-date {
    border-color: rgb(239, 191, 191);
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    padding: 4px 10px;
    font-size: 13px;
}

.shopping-payment {
    background: white !important;
    margin-bottom: 10px !important;
    padding: 0px 20px 35px 20px !important;
}

.shopping-payment-header {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    border-bottom: solid 0.3px #c5c5c5;
}

.shopping-payment-title {
    /* width: 100%;
    padding: 20px 0px; */
    font-size: 16px;
    color: #ee4d2d;
}

.shopping-payment-all-coin {
    position: absolute;
    right: 20px;
}

.shopping-payment-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    float: right;
}

.shopping-payment-element {
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px 0px;
}

.shopping-payment-element-title {
    position: absolute;
    left: 0px;
}

.shopping-payment-element-value {
    position: absolute;
    right: 0px;
}

.shopping-payment-button {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    border-top: 0.0625rem dashed rgba(0, 0, 0, 0.09);
}

.shopping-payment-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
    border: none;
    background-color: #1a9cb7;
    color: #fff;
    width: 200px;
    height: 40px;
    outline: none;
}

.shopping-payment-button > button:hover {
    background-color: #21b7d1;
}

@media only screen and (max-width: 1100px) {
    .shoppe-shipping-content {
        flex-direction: column;
    }

    .shopping-shipping-fee {
        width: 100%;
    }

    .shopping-shipping-time {
        width: 100%;
    }
}
