.quote-detail-info-left {
    font-weight: 600;
    width: 35%;
}

.quote-detail-info-right {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quote-detail-info-right:hover {
    overflow: visible;
    white-space: pre-wrap;
}

.print-quote {
    position: fixed;
    right: 80px;
    bottom: 15px;
    cursor: pointer;
    z-index: 10;
}

.print-quote:hover {
    background-color: aqua;
}

.button-add-quantity-for-quote {
    font-size: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: transparent;
    border-radius: 2px;
    width: 32px;
    height: 32px;
}

.button-add-quantity-for-quote:hover {
    border-color: rgb(255, 106, 0);
}

.input-add-quantity-for-quote {
    width: 55px;
    height: 32px;
    text-align: center;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
