.avarta {
    width: 190px;
    height: 240px;
    border: 2px solid #ddd;
    background-Color: #fff;
    /* margin: 20px 10px 10px 5px; */
}

div.upload {
    position: relative;
    overflow: hidden;
}
input.upload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}
input#file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}