
.setting-table {
    z-index: 1000;
    position: absolute;
    right: 10px;
    width: 250px;
    margin-top: 25px;
    text-align: left;
}
@media (max-width: 300px){
    .setting-table {
        width: 100%;
    }
}
.setting-table div.selectmulti {
    display: block;
}
.setting-table div.selectmulti > div.btn-group, .setting-table div.selectmulti > div.btn-group> button{
    width: 100% !important;
}