.general-tabs{
    width: 100%;
    margin-bottom: 1px;
    box-shadow: 0 4px 2px -2px #e8e7e7 !important;
}

.general-task-type{
    display: flex !important;
    justify-content: center !important;
}

.general-tabs li{
    text-align: center;
    border-radius: 5px;
    border-top: 2px solid transparent !important;
}
.general-tabs li a{
    background-color: #fdfdfd;
}

.general-tabs li:nth-child(2){
    margin-bottom: 1px;
}

.general-tabs li:nth-child(1) span{
    color: red !important;
}
.general-tabs li:nth-child(2) span{
    color: #3c8dbc !important;
}
.general-tabs li:nth-child(3) span{
    color: #dd4b39 !important;
}
.general-tabs li:nth-child(4) span{
    color: #db8b0b!important;
}
.general-tabs li:nth-child(5) span{
    color: rgb(124, 105, 233) !important;
}
.general-tabs li:nth-child(6) span{
    color: #f39c12 !important;
}
.general-tabs li:nth-child(7) span{
    color:rgb(49, 179, 55) !important;
}

.general-tabs li:nth-child(1).active{
    border-top-color: #ec4040 !important; 
    border-bottom: 1px solid #efecec;
}

.general-tabs li:nth-child(2).active{
    border-top-color: #86acc1 !important;
    border-bottom: 1px solid #efecec;
}

.general-tabs li:nth-child(3).active, .general-tabs li:nth-child(4).active, .general-tabs li:nth-child(5).active, .general-tabs li:nth-child(6).active, .general-tabs li:nth-child(7).active{
    border-top: 1px solid #e2e2e2 !important;
}

.general-tabs li.active a{
    font-weight: bold;
}
/* .general-tabs li{
    width: calc((100% - 35px)/7);
} */
.general-tabs li:nth-child(1), .general-tabs li:nth-child(2){
    width: calc((100% - 15px)/2);
} 
.general-tabs li:nth-child(3), .general-tabs li:nth-child(4), .general-tabs li:nth-child(5), .general-tabs li:nth-child(6),.general-tabs li:nth-child(7){
    width: calc((100% - 30px)/5);
} 

.angle-right-custom{
    font-weight: bold;
    margin-right: 10px;
}

.task-name{
    color: "#171717";
    margin-right: 10px;
}
.task-name:hover, .task-project-name:hover{
    opacity: .7;
}

.task-project-name{
    color: #676767;
}


/* COLLAPSE */

 .faqs-page .panel {
	 border: 0;
	 box-shadow: none;
}

.faqs-page .item-question {
	border-bottom: 1px solid #f4f4f4;
    display: block;
    line-height: 24px;
    padding: 7px 50px 10px 65px;
    font-size: 15px;
    position: relative;
    color: rgb(25 25 25);
    font-weight: 600;
}
.faqs-page .item-question.collapsed{
    font-weight: normal;
}

.faqs-page .item-question:after {
	 content: "\f106";
	 font-family: FontAwesome;
	 font-weight: normal;
	 position: absolute;
	 right: 18px;
	 top: 50%;
	 transform: translateY(-50%);
	 font-size: 14px;
	 color: #c30323;
}
.faqs-page .item-question.collapsed:after {
	 color: #111;
	 content: "\f107";
}
.faqs-page .item-question span.index {
	width: 25px;
    height: 25px;
    font-size: 13px !important;
    line-height: 23px;
    text-align: center;
    border-radius: 100%;
    background-color: #ececec;
    display: inline-block;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}
 .faqs-page .panel-body {
	padding: 5px 0px 8px 68px;
    font-size: 13px;
    line-height: 25px;
    color: #505050;
}
 
.progress-task-wraper{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.progress-task{
    position: relative;
    width: 22%;
    height: 13px;
    background-color:rgb(177 177 177 / 50%);
    border-radius: 4px;
}

.progress-task .perc{
    position: absolute;
    display: inline;
    top: 0;
    line-height: 12px;
    right: 10px;
    font-size: 11px;
}
.role-in-task{
    margin-top: 5px;
}

.progress-task .fillmult{
    height: 100%;
    border-radius: 4px;
}

.seemore-task{
    font-size: 12px;
    color: #777;
    font-weight: bold;
    margin-top: 5px;
    display: block;
}
.seemore-task:hover{
    color: #3c8dbc;
}

.seemore-task::after{
    content: "\f0a9";
	font-family: FontAwesome;
	font-weight: normal;
    margin-left: 5px;
}
.label-detail{
    font-size: 9px;
    margin-left: 5px;
    border-radius: .5em;
}
.deadlinecoming-label{
    background-color: #f39c12 ;
}

.priority-task-wraper{
    display: flex;
    align-items: center;
    margin-top: 5px;
}