.quote-detail-info-left{
    font-weight: 600;
    width: 35%;
}

.quote-detail-info-right{
    width: 65%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.quote-detail-info-right:hover{
    overflow: visible;
    white-space: pre-wrap;
}

.print-quote{
    position: fixed;
    right: 80px;
    bottom: 15px;
    cursor: pointer;
    z-index: 10;
}

.print-quote:hover{
    background-color: aqua;
}
