ul.career-position-tree {
    list-style-type: none;
}

li.career-position-tree {
    border-left: 0.8px dotted rgb(194, 194, 194);
    padding: 10px;
}

a.career-position-tree-content {
    border-bottom: 0.8px dotted rgb(194, 194, 194);
    margin: 5px;
    border: none;
    margin-left: -4px;
    font-size: 14px;
    /* padding-left: -100px; */
}

a.career-position-tree-content:hover {
    color: red;
}

.career-position-tree {
    padding-top: 10px;
    overflow: auto;
}