.menu-list-item{
    position: absolute;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ce9b5c;
    border-radius: 3px;
    line-height: 16px;
    letter-spacing: 0.3px;
    padding: 5px;
    font-size: 13px;
    box-shadow: 0 0 5px #7d7d7d;
    animation: FadeIn_notifyHeader ease-in .3s;
    display: block;
}
.urgent{
    top: -220px;
    left: 28%;
    z-index: 1031;
}
.needtodo{
    top: -231px;
    left: 26.5%;
    z-index: 1031;
}

.menu-list-item::before{
    content: "";
    position: absolute;
    bottom: -18px;
    left: 1px;
    border-width: 10px 8px;
    border-style: solid;
    border-color: transparent #c7a984 transparent transparent;
    transform: rotate(
    -90deg
    );
}


@keyframes FadeIn_notifyHeader{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes FadeIn_mobileMenu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}