.display-block {
    display: block;
    background-color: rgb(235, 228, 228);
}

.display-none {
    display: none;
}

.top-200 {
    margin-top: 200px;
}
.box-inner { 
    margin: 2px; 
    width: 100%; 
    height: 130px;
} 

.iconWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconAlert{
    font-size: 70px;
    color: #dd4b39;
}