
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

#calendar {
    max-width: 1100px;
    margin: 50px auto;
  }

.timekeeping th, td{
    width: auto !important;
}

.fc-col-header {
    width: 100% !important;
}