.setting-number-date-of-year {
    z-index: 1000;
    position: absolute;
    width: 195px;
    /* text-align: left; */

    border-radius: 5px;
    padding: 10px;

    background-color: rgb(232, 240, 244);

    box-sizing: border-box;
    border-top: 2px solid rgb(54, 156, 199);
    box-shadow: 4px 4px 15px rgba(50, 50, 50);
}

.setting-number-date-of-year input {
    width: auto !important;
    margin-bottom: 10px !important;
}

.setting-number-date-of-year button.btn-close {
    font-family: Arial;
    font-size: 11px;
    position: absolute;
    top: 7px;
    right: 8px;
    line-height: 15px;
    background-color: rgb(60 141 188);
    color: rgb(232, 240, 244);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}