
.faqs-page .task-item {
	border-bottom: 1px solid #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    padding: 7px 12px 10px 65px;
    font-size: 15px;
    position: relative;
    color: rgb(25 25 25);
    font-weight: 600;
}

.faqs-page .task-item .task-name{
    width: 80% !important;
}
.faqs-page .task-item .collapsed{
    font-weight: normal;
}

.faqs-page .task-item span.index {
	width: 25px;
    height: 25px;
    font-size: 13px !important;
    line-height: 23px;
    text-align: center;
    border-radius: 100%;
    background-color: #ececec;
    display: inline-block;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}
.action-another{
    display: none;
    transition: 0.5s;
}
.action-hide{
    display: none !important;
}
.action-hide:checked ~ .action-another {
    display: block !important;
    transition: 0.5s;
} 


.content-list-view{
    max-width: 1200px;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
}
.content-list-view .gird{
    display: grid;
    row-gap: 25px;
    grid-template-columns: minmax(0,1fr);
}

.content-list-view .gird .item, .item2, .item3{
    font-size: 13px;
    line-height: 25px;
    color: #505050;
    padding: 15px;
    background-color: #fdfdfd;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 1px #616060;
}


.item:nth-child(even) {
    background-color: #f9f9f9 !important;
}

.item2:nth-child(odd){
    background-color: #f9f9f9;
}

.item3:nth-child(even) {
    background-color: #f9f9f9 !important;
}


.content-list-view .gird .item .priority-task-wraper, .progress-task-wraper, .content-list-view .gird .item2 .priority-task-wraper, .progress-task-wraper, .content-list-view .gird .item3 .priority-task-wraper, .progress-task-wraper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.content-list-view .gird .item .role-in-task, .content-list-view .gird .item2 .role-in-task, .content-list-view .gird .item3 .role-in-task {
    margin-top: 5px;
}
.content-list-view .gird .item .task-name, .content-list-view .gird .item2 .task-name, .content-list-view .gird .item3 .task-name {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.content-list-view .gird .item .action, .content-list-view .gird .item2 .action, .content-list-view .gird .item3 .action {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.progress-task-wraper .progress-task{
    position: relative;
    width: 60%;
    height: 13px;
    background-color:rgb(177 177 177 / 50%);
    border-radius: 4px;
}

.progress-task-wraper .progress-task .fillmult{
    height: 100%;
    border-radius: 4px;
}

.progress-task-wraper .progress-task .perc{
    position: absolute;
    display: inline;
    top: 0;
    line-height: 12px;
    right: 10px;
    font-size: 11px;
}


.grid-wraper{
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: start;
}