.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

#viewprocess > div > a, #editprocess > div > a, #createprocess > div > a {
    visibility: hidden;
}

#createprocess, #editprocess, #viewprocess {
    padding: 0;
}

#createprocess svg, #editprocess svg, #viewprocess svg{
    border: 1px solid black;
    height: calc(100vh - 170px);
}