/node_modules

.env

/logs/_multi-tenant
/logs/history

/middleware/systemApiChangedLog.log

/models/_multi-tenant
/middleware/_multi-tenant
/modules/_multi-tenant

/upload/private
/upload/avatars
package-lock.json