.tags-input {
    width: 100%;
}

.react-tagsinput--focused {
    border-color: #3c8dbc;
}
.react-tagsinput {
    padding: 0px !important;
    border-radius: 4px !important;
}

.react-tagsinput-input {
    margin: 0px !important;
}

.react-tagsinput-tag {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
    margin-bottom: 0px !important;
    border-radius: 4px !important;
    margin: 5px 0px 0px 5px !important;
}

