.add-read-more.showless-content .hide-component,
.add-read-more.showless-content .read-less {
    display: none;
}

.add-read-more.showmore-content .read-more {
    display: none;
}

.add-read-more .read-more,
.add-read-more .read-less {
    cursor: pointer;
    color: #0066cc;
}

.add-read-more .read-more:hover,
.add-read-more .read-less:hover {
    color: #0287fd;
}

.add-read-more-wrap-txt.showmore-content .hide-component,
.add-read-more-wrap-txt.showmore-content .read-less {
    display: block;
}