biddingpackage = {
    name: String, // tên gói thầu
    code: String, // mã gói thầu
    startDate: Date, // ngày bắt đầu
    endDate: Date, // ngày kết thúc
    type: Number, // loại gói thầu
    description: String, // mô tả gói thầu
    status:  Number, // trạng thái gói thầu
    price: Number, // dự toán gói thầu
    openLocal: String, // địa điểm mở thầu
    receiveLocal: String, // địa điểm nhận thầu
    customer: String, // khách hàng
    keyPersonnelRequires: [{ // yêu cầu nhân sự chủ chốt
            careerPosition: ObjectId, // vị trí công việc
            sameCareerPosition: []ObjectId, // vị trí công việc tương đương
            majors: []ObjectId, // chuyên ngành
            professionalSkill: Number, // trình độ chuyên môn
            count: Number, // số lượng yêu cầu
            certificateRequirements: { // yêu cầu chứng chỉ
                certificates: []ObjectId, // danh sách chứng chỉ
                count: Number, // số lượng
                certificatesEndDate: Date, // ngày hết hạn chứng chỉ
            },
            numberYearsOfExperience: Number, // năm kinh nghiệm
            experienceWorkInCarreer: Number, // năm kinh nghiệm tương đương
            numblePackageWorkInCarreer: Number, // số gói thầu đã tham dự
        },
    }],
    keyPeople: [{ // danh sách nhân sự chủ chốt
            careerPosition: ObjectId, // vị trí
            employees: []ObjectId, // danh sách nhân sự chủ chốt cho vị trí
    }],
    company: ObjectId, // id công ty
    proposals: { // thông tin hồ sơ đề xuất
        executionTime: Number, // thời gian đề xuất thực hiện gói thầu
        unitOfTime: String, // đơn vị thời gian
        tasks: [{ // danh sách công việc
            code: String, // mã công việc
            taskName: String, // tên công việc
            taskDescription: String, // mô tả công việc
            preceedingTasks: []String, // công việc tiền nhiệm
            tag: []ObjectId, // tag công việc
            numberOfEmployees: Number, // số nhân sự cần thực hiện
            suitableEmployees: []ObjectId, // danh sách nhân sự phù hợp
            directEmployees: []ObjectId, // nhân sự trực tiếp
            backupEmployees: []ObjectId, // nhân sự dự phòng
            estimateTime: Number, // ước lượng thời gian thực hiện công việc
            unitOfTime: String, // đơn vị thời gian
        }]
    }
},

biddingcontract  = {
    code: String, // mã hợp đồng
    name: String, // tên hợp đồng
    createdDate: Date, // ngày tạo
    effectiveDate: Date, // ngày có hiệu lực
    endDate: Date // Ngày hết hiệu lực
    unitOfTime: String, // đơn vị thời gian
    budget: Number, // ngân sách
    currenceUnit: String, // đơn vị tiền tệ
    creator: ObjectId, // người tạo
    partyA: {// bên A
        company: String, // công ty A
        address: String, // địa chỉ
        email: String, // email công ty 
        phone: String, // số điện thoại
        taxCode: String, // mã số thuế
        representative: {// người đại diện
            name: String, // tên
            role: String, // vai trò
        },
        bank: {// ngân hàng
            name: String, // tên
            accountNumber: String, // số tài khoản
        },
    },
    partyB: {
        company: String, // công ty B
        address: String, // địa chỉ
        email: String, // email công ty 
        phone: String, // số điện thoại
        taxCode: String, // mã số thuế
        representative: {// người đại diện
            name: String, // tên
            role: String, // vai trò
        },
        bank: {// ngân hàng
            name: String, // tên
            accountNumber: String, // số tài khoản
        },
    },
    decideToImplement: {// thông tin quyết định giao triển khai hợp đồng
        tasks: [{// công việc
            name: String, // tên
            description: String, // mô tả công việc
            estimateTime: Number, // ước lượng thời gian thực hiện
            unitOfTime: String, // đơn vị thời gian
        }],
        projectManager: [] ObjectId, // người quản lý
        responsibleEmployees: [] ObjectId, // thành viên dự án
        responsibleEmployeesWithUnit: [{// người thực hiện với lương
            unitId: ObjectId, // id phòng ban
            listUsers: [{ 
                userId: ObjectId, // id user
                salary: Number, // lương user
            }],
        }],
    },
    biddingPackage: ObjectId, // id của gói thầu
    project: ObjectId, // id dự án triển khai theo hợp đồng
    files: [{// file đính kèm hợp đồng
        fileName: String,
        url: String
    }]
},

projectTemplate = {
    name: String, // tên mẫu dự án 
    projectType: Number, // loại mẫu dự án
    description: String, // mô tả mẫu dự án
    numberOfUse: Number, // số lần sử dụng mẫu
    createdAt: Date, // ngày tạo mẫu
    updatedAt: Date, // ngày cập nhật mẫu
    unitOfTime: String, // đơn vị thời gian thực hiện mẫu
    currenceUnit: String, // đơn vị tiền tệ của mẫu dự án
    projectManager: [] ObjectId, // người quản lý dự án
    responsibleEmployees: [] ObjectId, // người thực hiện dự án
    creator: ObjectId, // người tạo mẫu dự án
    budget: Number, // ngân sách mẫu dự án
    responsibleEmployeesWithUnit: [{// thông tin người thực hiện và lương
        unitId: ObjectId, // phòng ban của người thực hiện
        listUsers: [{// người trong phòng ban tham gia dự án và lương
            userId: ObjectId, // id user
            salary: Number, // lương
        }],
    }],
    tasks: [{// thông tin công việc trong mẫu dự án
        code: String, // mã công việc
        preceedingTasks: [] String, // công việc tiền nhiệm
        organizationalUnit: ObjectId, // đơn vị thực hiện công việc
        name: String, // tên công việc
        description: String, // mô tả công việc
        tags: [] String, // tag công việc
        responsibleEmployees: [] ObjectId, // người thực hiện
        accountableEmployees: [] ObjectId, // người phê duyệt
        consultedEmployees: [] ObjectId, // người tư vấn
        informedEmployees: [] ObjectId, // người hỗ trợ
        estimateNormalTime: Number, // thời gian ước lượng thông thường
        estimateOptimisticTime: Number, // thời gian ước lượng ít nhất
        estimateNormalCost: Number, // chi phí ước lượng thông thường
        estimateMaxCost: Number, // chi phí ước lượng nhiều nhất
        actualCost: Number, // chi phí thực tế
        actualEndDate: Date, // thời gian kết thúc thực tế
        estimateAssetCost: Number, // chi phí tài sản
        totalResWeight: Number, // trọng số người thực hiện
        isFromCPM: Boolean, // chỉ số check xem task theo dự án CPM không
    }] 
},

tag = {
    name: String, // tên tag
    description: String // mô tả tag
    employees: []ObjectId, // nhân sự phù hợp với tag
    employeeWithSuitability: [{ // thông tin nhân sự - độ phù hợp với tag
        employee: ObjectId, // id nhân sự
        suitability: Number, // độ phù hợp
    }]
}