#parent-modal-title {
  font-size: 14;
  font-weight: 700;
}

.item {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular_progress_text_inside {
  font-size: 48px;
}

.card_title {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: bolder;
}

.linear_progress-first {
  margin-top: 24px;
}

.linear_progress {
  margin-bottom: 16px;
}

.linear_progress-title {
  font-weight: bold;
}

.number_field_title {
  font-size: 16px;
}

.number_field_text {
  font-size: 20px;
  font-weight: bold;
}

.time-campaign-manage-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between elements as needed */
}

.form-control-static {
  margin-right: 10px; /* Optional: Adjust margin for spacing */
  margin-left: 10px;
}

.date-picker {
  width: 150px; /* Set the width of the date picker */
}

.campaign-manage-minicard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
  /* gap: 10px; Khoảng cách giữa các phần tử */
  padding: 10px; /* Khoảng đệm xung quanh container */
  width: 200px; /* Chiều rộng cố định của container */
}

.campaign-manage-minicard-label {
  font-size: 1em; /* Kích thước chữ của nhãn */
}

.campaign-manage-minicard-number {
  font-size: 2em;
  color: #333; /* Màu chữ của số liệu */
}

.campaign-manage-minicard-down {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: red; /* Màu chữ của phần trăm */
}

.campaign-manage-minicard-up {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: green; /* Màu chữ của phần trăm */
}

.campaign-manage-minicard-icon {
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và phần trăm */
}

.campaign-manage-top-campaign {
  display: flex;
  flex-direction: column;
  /* align-items: center; Căn chỉnh các phần tử theo chiều dọc */
  /* gap: 10px; Khoảng cách giữa các phần tử */
  /* padding: 10px; Khoảng đệm xung quanh container */
}

.campaign-manage-top-campaign-title {
  display: flex;
  align-items: center;
}

.campaign-manage-top-campaign-label {
  font-size: 1.8em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
