.delegation-wizard-row .delegation-wizard-title {
    font-size: 16px;
}

.delegation-wizard-row .delegation-wizard-subtitle {
    font-size: 14px;
}

.delegation-wizard-row .delegation-wizard-description {
    font-size: 12px;
    font-weight: 400;
}
