.tooltip-abc {
    position: relative;
}

.tooltip-abc .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 10px;
}

.tooltip-abc .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    border-width: 5px;
    border-style: solid;
    border-color: #eb3d45 transparent transparent transparent;
}

.tooltip-abc:hover .tooltiptext {
    visibility: visible;
    background-color: #eb3d45;
}

/* css timeline customer status */
.timeline {
    margin: 4.5em auto 4em auto;
    height: 5px;
    background-color: #ccc;
    width: 80%;
}

.timeline:before {
    content: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline-progress {
    width: 33%;
    height: 100%;
    background-color: #28A745;
    transition: all ease 0.9s;
}

.timeline-items {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
}

.timeline-item {
    position: relative;
}

.timeline-item::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: #ccc;
    display: block;
    border-radius: 100%;
}

.timeline-contain {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ddd;
    width: 10em;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.timeline-contain::before {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #ddd;
    display: block;
    position: absolute;
    top: 20px;
    margin-left: -2px;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
}

.timeline-item.active::before {
    background-color: #28A745;
}

.timeline-item.active .timeline-contain {
    color: #fff;
    background-color: #28A745;
}

.timeline-item.active .timeline-contain::before {
    background-color: #28A745;
}

/* css avatar customer */
/* .image-wrapper:hover {
    cursor: pointer;
} */
.customer-avatar {
    vertical-align: middle;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
}

/* Nút hiển thị thêm thông tin khách hàng tab thông tin chi tiết */
.showMoreInfo {
    color: #e07e7e;
}
/* .showMoreInfo:hover {
    cursor: pointer;
} */

/* Style timeline history tab infoForm */
.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: #28A745;
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-history-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-history-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-history-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 450px;
    max-width: 80%;
    text-align: left;
}

.timeline-history-item-content::after {
    content: " ";
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-history-item:nth-child(odd) .timeline-history-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-history-item:nth-child(odd) .timeline-history-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-history-item-content time {
    color: #e07e7e;
    font-size: 12px;
    font-weight: bold;
}

.timeline-history-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    max-width: 300px;
}

.timeline-history-item-content a {
    font-size: 14px;
    color: #777;
}

.timeline-history-item-content a::after {
    content: " ►";
    font-size: 12px;
}

.timeline-history-item-content .circle {
    background-color: #fff;
    border: 3px solid #28A745;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-history-item:nth-child(odd) .timeline-history-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-history-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-history-item-content,
    .timeline-history-item:nth-child(odd) .timeline-history-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-history-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-history-item-content time {
        margin-top: 20px;
    }

    .timeline-history-item-content a {
        text-decoration: underline;
    }

    .timeline-history-item-content a::after {
        display: none;
    }
}

.disable-timeline-contain {
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
    background: #ddd;
}
