.btn-create{
    color: white;
    border-radius: '2px';
    width: '30px';
    margin-left: '2px';
}

.btn-create:hover {
    color: green;
    background-color: lightgray;
}

.btn-edit{
    color: white;
    border-radius: '2px';
    width: '30px';
    margin-left: '2px';
}

.btn-edit:hover {
    color: blue;
    background-color: lightgray;
}

.btn-delete{
    color: white;
    border-radius: '2px';
    width: '30px';
    margin-left: '2px';
}

.btn-delete:hover {
    color: red;
    background-color: lightgray;

}

.department:hover{
    background-color:rgba(31, 47, 195, 0.342);
}

.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}