.alarm-task-arrow{
    position: fixed;
    bottom: 2em;
    right: 1.5em;
    cursor: pointer;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    padding: 20px;
    z-index: 99;
    background-color: rgb(255, 99, 71);
    border-radius: 50em;

    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #efefef;
    transition: all .2s ease-in-out;
}

.alarm-task-arrow:hover{
    box-shadow: 0 0 8px #0e0e0e;
}
.alarm-task-arrow:hover.bounce{
  animation: none;
}

.alarmTask{
    display: none !important;
}

.alarmTask:checked ~ .alarm-task-popup {
    display:block;
    visibility:visible;
    opacity:1;
} 

.alarmTask:checked ~ .alram-task-bounce {
    animation: none;
} 


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.alram-task-bounce {
    -moz-animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
}


.alarm-task-popup{
    visibility:hidden;
    opacity:0;

    width: auto;
    height: auto;
    background: #ffffff;
    color: #5d5d5d;
    bottom: 3.9em;
    right: 2.8em;
    position: fixed;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 16%) 0px 0px 4px 2px;
    transition: 0.5s;
    z-index: 999;
}

.alarm-task-popup .alarm-task-popup-header{
    display: flex;
    height: 40px;
    background-color: #e4e4e4;
    margin-bottom: 2px;
    box-shadow: 0 4px 2px -2px #e8e7e7 !important;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.alarm-task-popup-title{
    font-weight: bold;
    margin: 9px 0px 10px 1px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.alarm-task-popup-content .list-todo-alarm{
    padding: 10px 0;
}

.alarm-task-popup .alarm-task-popup-content{
  padding: 10px;
  border-radius: 5px;
}

.alarm-tabs

.close-icon-popup{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #696969;
    cursor: pointer;
}


