.btn-create {
    color: white;
    border-radius: '2px';
    width: '30px';
    margin-left: '2px';
}

.btn-create:hover {
    color: green;
    background-color: lightgray;
}

.btn-edit {
    color: white;
    border-radius: '2px';
    width: '30px';
    margin-left: '2px';
}

.btn-edit:hover {
    color: blue;
    background-color: lightgray;
}

.btn-delete {
    color: white;
    border-radius: '2px';
    width: '30px';
    margin-left: '2px';
}

.btn-delete:hover {
    color: red;
    background-color: lightgray;

}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.attention {
    color: red
}

.tf-tree {
    font-size: 16px;
    overflow: auto
}

.tf-tree * {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.tf-tree ul {
    display: inline-flex
}

.tf-tree li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1em;
    position: relative
}

.tf-tree li ul {
    margin: 2em 0
}

.tf-tree li li:before {
    border-top: .0625em solid rgba(121, 117, 117, 0.835);
    content: "";
    display: block;
    height: .0625em;
    left: -.03125em;
    position: absolute;
    top: -1.03125em;
    width: 100%
}

.tf-tree li li:first-child:before {
    left: calc(50% - .03125em);
    max-width: calc(50% + .0625em)
}

.tf-tree li li:last-child:before {
    left: auto;
    max-width: calc(50% + .0625em);
    right: calc(50% - .03125em)
}

.tf-tree li li:only-child:before {
    display: none
}

.tf-tree li li:only-child>.tf-nc:before,
.tf-tree li li:only-child>.tf-node-content:before {
    height: 1.0625em;
    top: -1.0625em
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
    border: .0625em solid rgba(121, 117, 117, 0.835);
    display: inline-block;
    padding: .5em 1em;
    position: relative
}

.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:before {
    top: -1.03125em
}

.tf-tree .tf-nc:after,
.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:after,
.tf-tree .tf-node-content:before {
    border-left: .0625em solid rgba(121, 117, 117, 0.835);
    content: "";
    display: block;
    height: 1em;
    left: calc(50% - .03125em);
    position: absolute;
    width: .0625em
}

.tf-tree .tf-nc:after,
.tf-tree .tf-node-content:after {
    top: calc(100% + .03125em)
}

.tf-tree .tf-nc:only-child:after,
.tf-tree .tf-node-content:only-child:after,
.tf-tree>ul>li>.tf-nc:before,
.tf-tree>ul>li>.tf-node-content:before {
    display: none
}

.tf-tree.tf-gap-sm li {
    padding: 0 .6em
}

.tf-tree.tf-gap-sm li>.tf-nc:before,
.tf-tree.tf-gap-sm li>.tf-node-content:before {
    height: .6em;
    top: -.6em
}

.tf-tree.tf-gap-sm li>.tf-nc:after,
.tf-tree.tf-gap-sm li>.tf-node-content:after {
    height: .6em
}

.tf-tree.tf-gap-sm li ul {
    margin: 1.2em 0
}

.tf-tree.tf-gap-sm li li:before {
    top: -.63125em
}

.tf-tree.tf-gap-sm li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-sm li li:only-child>.tf-node-content:before {
    height: .6625em;
    top: -.6625em
}

.tf-tree.tf-gap-lg li {
    padding: 0 1.5em
}

.tf-tree.tf-gap-lg li>.tf-nc:before,
.tf-tree.tf-gap-lg li>.tf-node-content:before {
    height: 1.5em;
    top: -1.5em
}

.tf-tree.tf-gap-lg li>.tf-nc:after,
.tf-tree.tf-gap-lg li>.tf-node-content:after {
    height: 1.5em
}

.tf-tree.tf-gap-lg li ul {
    margin: 3em 0
}

.tf-tree.tf-gap-lg li li:before {
    top: -1.53125em
}

.tf-tree.tf-gap-lg li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-lg li li:only-child>.tf-node-content:before {
    height: 1.5625em;
    top: -1.5625em
}

.tf-tree li.tf-dotted-children .tf-nc:after,
.tf-tree li.tf-dotted-children .tf-nc:before,
.tf-tree li.tf-dotted-children .tf-node-content:after,
.tf-tree li.tf-dotted-children .tf-node-content:before {
    border-left-style: dotted
}

.tf-tree li.tf-dotted-children li:before {
    border-top-style: dotted
}

.tf-tree li.tf-dotted-children>.tf-nc:before,
.tf-tree li.tf-dotted-children>.tf-node-content:before {
    border-left-style: solid
}

.tf-tree li.tf-dashed-children .tf-nc:after,
.tf-tree li.tf-dashed-children .tf-nc:before,
.tf-tree li.tf-dashed-children .tf-node-content:after,
.tf-tree li.tf-dashed-children .tf-node-content:before {
    border-left-style: dashed
}

.tf-tree li.tf-dashed-children li:before {
    border-top-style: dashed
}

.tf-tree li.tf-dashed-children>.tf-nc:before,
.tf-tree li.tf-dashed-children>.tf-node-content:before {
    border-left-style: solid
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
    background-color: #3c8dbc;
    color: white;
    padding: .8rem .9rem;
    font-weight: 400;
    border-radius: 0.3rem;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.icon_upload{
    font-size: 19px;
    margin-right: 5px;
}

.organizationalUnitImageWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 1px rgb(171 169 169);
}
.organizationalUnitImageButton{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;

}
.upload_now{
    color:#385898;
}

.upload_now:hover{
    color:#6a8dd1;
    opacity: 0.7;
}