.search-page {
    z-index: 2;
    position: absolute;
    right: 10px;
    width: 245px;
    background-color: rgb(249, 250, 252);
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: -20px;
}

.search-page input {
    width: 100px;
    display: inline-block;
}
.search-page button {
    width: 100px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    z-index: 2 !important;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

@media (max-width: 300px){
    .search-page {
        width: 100%;
        right: 0px;
    }
    .search-page input {
        width: 100%;
    }
    .search-page button {
        width: 100%;
        margin-top: 10px;
    }
}