.newsfeed-content-level1 {
    padding: 5px 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    margin-left: 50px;
    margin-top: -45px;
    margin-bottom: 0px;
    margin-right: 20px;

    position: relative;

    line-height: 150%
}

.newsfeed-content-level1 > a, .newsfeed-content-level2 > a{
    font-weight: 700;
}

.newsfeed-box {
    border-radius: 5px !important;
    margin: 10px 10% !important;
    border: 1px solid #ebebeb !important;
    -webkit-box-shadow: 2px 2px 20px 0px #ebebeb !important;
    -moz-box-shadow: 2px 2px 20px 0px rgba(235,235,235,1) !important;
    box-shadow: 2px 2px 20px 0px rgba(235,235,235,1) !important;
}