tbody#actions td:not(:last-child) {
    cursor: move;
}

#actions .sortable-chosen{
    background-color: rgba(41, 103, 182, 0.89) !important;
    color: #FFF !important;
}
#actions tr:hover{
    background-color: none !important;
}
/* #informations tr.chosen {
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
} */

#informations .sortable-chosen{
    background-color: rgba(41, 103, 182, 0.89) !important;
    color: #FFF !important;
}

#informations tr:hover{
    background-color: none !important;
}
tbody#informations td:not(:last-child) {
    cursor: move;
}

/* pháº§n task-template */
div.task-item {
    padding: 0px;
    /* margin-bottom: 20px; */
}

div.task-item > p {
    padding: 0px;
    margin: 0px;
}

div.task-item > p b.number {
    padding: 4px 10px;
    color: #fff;
    background-color: #c1c1c1;
    border-radius: 50%;
    font-size: 16px;
}

div.task-item > p > span.content {
    margin-left: 30px;
    margin-top: -39px;
    width: 100%;
    padding: 5px 0px 5px 5px;
    font-weight: bold;
    display: block;
    min-height: 0px;
}

div.task-item > p .note {
    font-size: 12px;
    font-weight: bold;
    color: red;
    padding-left: 5px;
}

div.task-item > div {
    margin: 0px 0px 0px 13px;
    padding: 5px 25px 20px 25px; 
    border-left: 1px dotted #c1c1c1;
}
