.update-log-table {
    margin-bottom: 50px !important;
}

.api-update-add {
    background-color: #3fc05e !important;
}

.api-update-remove {
    background-color: #dd4b39 !important;
}

.delete-update-log-btn {
    margin-left: 20px;
}

.delete-update-log-btn,
.delete-update-log-btn:hover,
.delete-update-log-btn:focus {
    background-color: #cd324b !important;
    color: white;
}