/*
 * Component: Table
 * ----------------
 */
.plan-table-custom > thead > tr > th,
.plan-table-custom > tbody > tr > th,
.plan-table-custom > tfoot > tr > th,
.plan-table-custom > thead > tr > td,
.plan-table-custom > tbody > tr > td,
.plan-table-custom > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
}
.plan-table-custom > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
}
.plan-table-custom tr td .progress {
    margin-top: 5px;
}
.plan-table-custom-bordered {
    border: 1px solid #f4f4f4;
}
.plan-table-custom-bordered > thead > tr > th,
.plan-table-custom-bordered > tbody > tr > th,
.plan-table-custom-bordered > tfoot > tr > th,
.plan-table-custom-bordered > thead > tr > td,
.plan-table-custom-bordered > tbody > tr > td,
.plan-table-custom-bordered > tfoot > tr > td {
    border: 1px solid #f4f4f4;
}

.plan-table-custom-bordered > thead > tr > th,
.plan-table-custom-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.plan-table-custom thead tr th,
.plan-table-custom thead tr td,
.plan-table-custom tbody tr td {
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.plan-table-custom {
    width: 100%;
}

.plan-checkbox-custom > input[type="checkbox"] {
    margin: auto;
    width: 17px;
    height: 17px;
}
