.sla-goods-collapsible-ul {
    padding: 0px !important;
}

.sla-goods-collapsible-li {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 0.3px solid #ffe8c6 !important;
}

.sla-goods-collapsible-li > div {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sla-goods-collapsible-li > div:hover {
    overflow: wrap;
    white-space: pre-wrap;
}

.sla-goods-collapsible-index {
    grid-column: 1;
}

.sla-goods-collapsible-code {
    grid-column: 2;
}

.sla-goods-collapsible-name {
    grid-column: 3/6;
}
