.description-box {
    box-shadow: none;
    border: 1px solid #f4f4f4;
    padding: 5px 0 10px 10px;
    line-height: 2.2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-box ol, .description-box ul {
    margin: 0;
}

.description-box h4 {
    font-weight: 600;
}

.description-box strong {
    font-weight: 600;
}