.hoursSpentOfEmployee .c3-tooltip-container {
    width: 35%;
}
.hoursSpentOfEmployee.totalTime .c3-tooltip-container {
    width: 60%;
}

.hoursSpentOfEmployee .c3-tooltip {
    box-shadow: none;
    width: 100%;
}
.hoursSpentOfEmployee .c3-tooltip .name {
    text-align: left;
    width: 75%;
}
.hoursSpentOfEmployee .c3-tooltip .value {
    width: 25%;
}