.timesheet-box {
    min-width: 150px;
    max-width: 300px;
    border-radius: 2px;
    font-size: 13px;
    margin: 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    display: block;
    box-sizing: border-box;
    border-top: 2px solid #a1a1a1;
    background-color: #fff;

    -webkit-box-shadow: 4px 4px 15px rgba(50, 50, 50, 0.85);
    -moz-box-shadow: 4px 4px 15px rgba(50, 50, 50, 0.85);
    box-shadow: 4px 4px 15px rgba(50, 50, 50, 0.85);
}

.timesheet-box h4 {
    font-size: 14px;
    margin: 0px 0px 5px;
    padding: 0px;
    font-weight: bold;
    color: rgb(54, 156, 199)
}

.timesheet-box .time {
    font-size: 1.4em;
    font-weight: bold;
}

.timesheet-box .task-name{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.addlog-box{
    position: absolute;
    top: 6.9em;
    left: 0;
    width: 450px;
    background-color: #fff;
    padding: 13px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}
.addlog-title{
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.select2-container--open .select2-dropdown{
    z-index: 100002 !important
}