.text-input-outputs {
    border-radius: 10px !important;
    background-color: #e2e0ff !important;
    padding: 5px 0px !important;
    font-size: 13px !important;
    border: 1px solid #989da5 !important;
    height: 50px !important;
}