.menu-list-item{
    position: absolute;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ce9b5c;
    border-radius: 3px;
    line-height: 16px;
    letter-spacing: 0.3px;
    padding: 8px;
    font-size: 13px;
    box-shadow: 0 0 5px #7d7d7d;
    animation: FadeIn_notifyHeader ease-in .3s;
    display: block;
}
.urgent{
    top: -109px;
    left: 27%;
}
.needtodo{
    top: -93px;
    left: 26%;
}

.menu-list-item::before{
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0px;
    border-width: 12px 11px;
    border-style: solid;
    border-color: #c7a984 transparent transparent transparent;
}


@keyframes FadeIn_notifyHeader{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes FadeIn_mobileMenu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}