.c3-ygrid-line line {
    stroke: red;
}
.c3-ygrid-line.grid500 line {
    stroke: red;
}
.c3-ygrid-line.grid500 text {
    fill: #000000;
}
.good-category-select-tree #rdts1_trigger {
    border-radius: 3px !important;
}
.select-box-select-month .purchase-month-bill-dashboard-start  {
    border-radius: 3px !important;
}
