.progress-weigth-kpi{
    display: flex;
    width: 90%;
    height: 10px;
    margin: 5px auto;
    position: relative;
    border-radius: 5px;
}

.progress-weigth-kpi .perc{
    position: absolute;
    display: inline;
    right: 4px;
    top: 0;
    line-height: 10px;
    font-size: 10px;
    color: #fff;
}

p.kpi-number-target{
    font-size: 12px;
    font-weight: 600;
}
.progress-weigth-kpi .fillmult{
    border-radius: 5px;
}


.padding-10{
    padding: 10px;
}

.pl-15{
    padding-left: 15px;
}

.pr-15{
    padding-right: 15px;
}

.ml-15{
    margin-left: 15px;
}

.mr-15{
    margin-right: 15px;
}

.mb{
    margin-bottom: 10px;
}
.ml{
    margin-left: 10px;
}
.mr{
    margin-right: 10px;
}
.mt{
    margin-top: 10px;
}
