.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

#viewprocess > div > a, #editprocess > div > a, #createprocess > div > a, #createtaskbyprocess > div > a, #viewtaskprocesstab > div > a, #edittaskprocess > div > a {
    visibility: hidden;
}

#createprocess, #editprocess, #viewprocess, #createtaskbyprocess {
    padding: 0;
}

.tool-bar-xml {
    display: flex;
    justify-content: flex-end;
    margin-right: -15px;
}

.io-zoom-controls ul {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}

.io-zoom-controls li {
    list-style: none;
    margin: 0px 0;
    padding: 0 15px;
}

.io-zoom-controls button{
    padding: 5px;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    color: #aaa;
    background: none;
    border: none;
}

.io-zoom-controls button:hover{
    color: #fff;
}

.io-control hr {
    border: none;
    border-top: solid 1px #DDD;
    width: 15px;
}

.io-control-list {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.io-control-list a,
.io-control-list a:visited {
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    background: none;
    border: none;
}

.contain-border {
    border: 1px solid;
    margin: 0;
    padding: 0 15px;
}

#createtaskbyprocess > div > div > div.djs-palette.two-column.open, #createtaskbyprocess > div > div > div.djs-overlay-container > div > div > div {
    display: none;
}
#viewtaskprocesstab > div > div > div.djs-palette.two-column.open > div.djs-palette-entries, #viewtaskprocesstab > div > div > div.djs-palette.two-column.open,
#edittaskprocess > div > div > div.djs-palette.two-column.open > div.djs-palette-entries, #edittaskprocess > div > div > div.djs-palette.two-column.open,
#viewprocess > div > div > div.djs-palette.two-column.open > div.djs-palette-entries, #viewprocess > div > div > div.djs-palette.two-column.open,
#viewtaskprocesstab > div > div > div.djs-palette.open {
    display: none;
}
#viewtaskprocesstab > div > div > div.djs-overlay-container > div > div > div, 
#viewprocess > div > div > div.djs-overlay-container > div > div > div,
#edittaskprocess > div > div > div.djs-overlay-container > div > div > div {
    display: none;
}

/* .djs-container {
    position: relative !important;
    overflow: scroll !important;
    background-color: white !important;
} */
#createprocess svg, #editprocess svg, #viewprocess svg, #createtaskbyprocess svg {
    /* border: 1px solid black; */
    height: calc(100vh - 300px);
}
#viewtaskprocesstab svg, #edittaskprocess svg {
    /* border: 1px solid black; */
    height: calc(100vh - 200px);
}
.right-content {
    overflow: auto;
    height: calc(100vh - 230px);
}

.right-content-create {
    overflow: auto;
    height: calc(100vh - 360px);
}

#createprocess > div > div > svg > g > g.layer-base > g > g > g > text:nth-child(2) {
    display: none;
}
#editprocess > div > div > svg > g > g.layer-base > g > g > g > text:nth-child(2) {
    display: none;
}
#createtaskbyprocess > div > div > svg > g > g.layer-base > g > g > g > text:nth-child(2) {
    display: none;
}
#viewprocess > div > div > svg > g > g > g > g > g > text:nth-child(2) {
    display: none;
}
#viewtaskprocesstab > div > div > svg > g > g.layer-base > g > g > g > text:nth-child(2),
#edittaskprocess > div > div > svg > g > g.layer-base > g > g > g > text:nth-child(2) {
    display: none;
}

.is-tabbed-pane {
    display: flex;
    flex-direction: column-reverse;
}

.is-tabbed-pane #viewtaskprocesstab svg {
    /* border: 1px solid black; */
    height: calc(100vh - 500px);
}

.task-process-title {
    font-size: 12px; 
    line-height: 1em; 
    font-weight: bold; 
    width: 150px; 
    height: 45px; 
    display: block; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; /* số dòng */ 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.list-task-process-responsible {
    font-size: 10px; 
    line-height: 1em; 
    font-weight: bold; 
    width: 150px; 
    max-height: 40px; 
    display: block; 
    display: -webkit-box; 
    -webkit-line-clamp: 2 !important; /* số dòng */ 
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;  
}

.list-task-process-accountable {
    margin-top: 5px;
    font-size: 10px; 
    line-height: 1em; 
    width: 150px; 
    max-height: 40px; 
    display: block; 
    display: -webkit-box; 
    -webkit-line-clamp: 2 !important; /* số dòng */  
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;  
}
.task-process-gate-way-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px; 
    line-height: 1em; 
    font-weight: bold; 
    max-width: 150px; 
    max-height: 45px; 
    display: block; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; /* số dòng */ 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
    overflow: hidden;
    
}


.list-task-process-gate-way-responsible {
    margin-top: 5px;
    text-align: center;
    font-size: 10px; 
    line-height: 1em; 
    font-weight: bold; 
    max-width: 150px; 
    max-height: 30px; 
    background-color: white;
    display: block; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; /* số dòng */ 
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;  
}

.list-task-process-gate-way-accountable {
    margin-top: 5px;
    text-align: center;
    font-size: 10px; 
    line-height: 1em; 
    max-width: 150px; 
    max-height: 30px; 
    /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
    background-color: white;
    display: block; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; /* số dòng */ 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.progress-task-process {
    font-size: 15px; 
    max-width: 40px;
    max-height: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right;
    margin-right: 6px;
}

.parent-task-process-gate-way-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.gate-way-progress {
    font-size: 15px; 
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.bpmn-icon-intermediate-event-none {
    display: none !important;
}