.item {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .125);
    transform: scale(0.8);
}

.chart-wrapper {
    padding: 1rem;
    height: calc(100% - 2rem); 
}

/* React Grid Layout CSS */
.react-resizable-handle-n,
.react-resizable-handle-w,
.react-resizable-handle-s,
.react-resizable-handle-e {
    transform: rotate(0deg) !important;
}

.react-grid-item .react-resizable-handle::after {
    border: none;
}

.react-grid-item .react-resizable-handle-nw::after,
.react-grid-item .react-resizable-handle-ne::after,
.react-grid-item .react-resizable-handle-sw::after,
.react-grid-item .react-resizable-handle-se::after {
    width: 1rem;
    height: 1rem;
}

.react-resizable-handle-nw::after,
.react-resizable-handle-ne::after,
.react-resizable-handle-sw::after,
.react-resizable-handle-se::after {
    right: -0.5rem !important;
    bottom: -0.5rem !important;
}

.react-grid-item .react-resizable-handle-n::after,
.react-grid-item .react-resizable-handle-s::after,
.react-grid-item .react-resizable-handle-w::after,
.react-grid-item .react-resizable-handle-e::after {
    width: 100%;
}

.react-resizable-handle-n,
.react-resizable-handle-s  {
    width: auto !important;
    height: 1rem !important;
    margin: 0 !important;
    left: 0.5rem !important;
    right: 0.5rem !important;
}

.react-resizable-handle-n::after {
    height: 100% !important;
    right: 0 !important;
    top: -0.5rem;
}
.react-resizable-handle-s::after {
    height: 100% !important;
    right: 0 !important;
    bottom: -0.5rem !important;
}

.react-resizable-handle-e,
.react-resizable-handle-w  {
    width: 1rem !important;
    height: auto !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0.5rem !important;
    bottom: 0.5rem !important;
}

.react-resizable-handle-e::after {
    height: 100% !important;
    right: -0.5rem !important;
    bottom: 0 !important;
}

.react-resizable-handle-w::after {
    height: 100% !important;
    right: 0.5rem !important;
    bottom: 0 !important;
}

.react-grid-item.react-grid-placeholder {
    background-color: #007bff;
}
