.no-data-pannel {
    width: 100%;
    background: white;
    padding: 1.2rem 0;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, .125);
}

.chart-container {
    display: flex;
    gap: 1rem;
}

.chart-grid {
    width: 100%;
}

.chart-grid.editMode {
    width: 75%;
    min-height: 450px;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    background-color: #f1f3f5;
}

.chart-wrapper {
    padding: 1rem;
    height: calc(100% - 2rem); 
    font-size: 1rem;
}

.chart-wrapper.editMode {
    font-size: 0.8rem;
}

.item {
    background-color: white;
    border-radius: 0.4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .125);
    transform: scale(0.75);
}

.item.resizable {
    border: 1px solid #3c8dcb;
}

/* React Grid Layout CSS */
.react-resizable-handle-n,
.react-resizable-handle-w,
.react-resizable-handle-s,
.react-resizable-handle-e {
    transform: rotate(0deg) !important;
}

.react-grid-item .react-resizable-handle::after {
    border: none;
}

.item.resizable .react-resizable-handle::after {
    border: none;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #3c8dcb;
}

.react-resizable-handle-nw::after,
.react-resizable-handle-ne::after,
.react-resizable-handle-sw::after,
.react-resizable-handle-se::after {
    right: -0.15rem !important;
    bottom: -0.15rem !important;
}

.react-resizable-handle-n::after {
    top: -0.25rem !important;
}

.react-resizable-handle-e::after {
    top: 50% !important;
    right: -0.25rem !important;
    transform: translateY(-50%);
}
.react-resizable-handle-s::after {
    bottom: -0.25rem !important;
}

.react-resizable-handle-w::after {
    top: 50%;
    left: -0.25rem;
    transform: translateY(-50%);
}

.react-grid-item.react-grid-placeholder {
    background-color: #007bff;
}
