.checkbox-custom {
    width: 17px;
    height: 17px;
}

.checkbox-custom > input[type="checkbox"] {
    margin: auto;
    width: 17px;
    height: 17px;
    position: inherit;
}

.tooltip-checkbox-transport {
    position: relative;
    border-bottom: 1px dotted black;
    text-align: center;
}

.tooltip-checkbox-transport .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
}

.tooltip-checkbox-transport .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #408e4d transparent transparent transparent;
}

.tooltip-checkbox-transport:hover .tooltiptext {
    visibility: visible;
    background-color: #408e4d;
    z-index: 1;
}
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #a7cde4;
}

.iconactive {
    background-color: green;
}
.iconinactive {
    background-color: white;
}
.tooltiptext:hover a {
    text-decoration: underline;
}
div.divTest {
    overflow-x:auto;
}

table.tableTest {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    word-break: keep-all !important;
  }
table.tableTest th {
    text-align: left;
    padding: 8px;
    word-break: keep-all;
    white-space: nowrap;
}
table.tableTest th td {
    text-align: left;
    padding: 8px;
    word-break: keep-all;
    white-space: nowrap;
  }
table.tableTest tr td {
    text-align: left;
    padding: 8px;
    word-break: keep-all;
    white-space: nowrap;
}
table.tableTest th.first-column {
    min-width: 100px;
}
.word-no-break td {
    word-break: keep-all;
}
.word-no-break th {
    word-break: keep-all;
}
.transport-special-row tr:nth-child(2n):not(2) {
    /* border-bottom: 2px solid rgb(0, 162, 255); */
    background: #a7cde4;
}

.transport-table-carrier-vehicle-label {
    font-size: 18px;
}