.mapboxgl-popup-tip {
    display: none;
  }
  .mapboxgl-popup-content {
    background: none !important;
    text-align: center;
    height: 90px;
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none !important;
  }
  p.transport-text-popup-map {
    /* background-color: #ffffff; */
    color: black;
    /* padding-left: 3px; */
    text-shadow: -1px 0 white, 0 1px white,      1px 0 white, 0 -1px white;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
  }